@font-face {
    font-family: DM Sans;
    src: url("../fonts/DMSans-Regular.ttf");
}

@font-face {
    font-family: DM Sans Bold;
    src: url("../fonts/DMSans-Bold.ttf");
}

$body-c : (
    "bg-color": #FFF,
);

$fonts : (
    "dm-sans": DM Sans,
    "dm-sans-bold": DM Sans Bold,
);

$colors : (
    "muted": #697B98,
    "muted-light": rgba(255, 255, 255, 0.80),
    "primary": #3B82F6,
    "primary-light": #C6DBFF,
    "body-white": #FFF,
    "dark-blue": #193766,
    "dark-blue-muted": rgba(0, 21, 51, 0.60),
)